@charset "utf-8";
/* CSS Document */
*	{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #ddd;
	font-size: 100%;
}

nav{
	background: #003c8f;
}

nav ul {
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 16px 24px;
	border-left: 1px solid #fff;
}

nav li:last-child {
	border-right: 1px solid #fff;
}

nav a {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: #5e92f3;
}

main {
	background: #fff;
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	padding: 36px 24px;
}
/*All articles*/
article {
	font-family: 'Merriweather', serif;
	font-family: 'Open Sans', sans-serif;
	padding: 0 40px;
}
article h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5em;
	text-transform: uppercase;
	color: #760708;
}
/*This selects the article element with a class of intro*/
.intro img {
	width: 200px;
	height: auto;
	float: left;
	margin-right: 16px;
}
article p {
	font-size: 1.25em;
	line-height: 1.66em;
}
.video {
	width: 560px;
	margin: 0 auto;
}